<div class="scroll">

    <div class="table">
        <div class="row div0 w-100 m-0 p-0 ">
            <div class="col-3 d-flex justify-content-center">
                <p>
                    1/4 финала
                </p>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <p>
                    1/2 финала

                </p></div>
            <div class="col-3 d-flex justify-content-center">
                <p> Финал

                </p></div>

        </div>
        <div class="div1">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Австралия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-at" viewBox="0 0 512 512">
                        <g fill-rule="evenodd">
                            <path fill="#fff" d="M512 512H0V0h512z"/>
                            <path fill="#ed2939" d="M512 512H0V341.3h512zm0-341.2H0V.1h512z"/>
                        </g>
                    </svg>
                    <span>
                    1
                </span>
                </div>
            </div>
        </div>
        <div class="div2">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Бангладеш</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-bd" viewBox="0 0 512 512">
                        <path fill="#006a4e" d="M0 0h512v512H0z"/>
                        <circle cx="230" cy="256" r="170.7" fill="#f42a41"/>
                    </svg>
                    <span>
                    0
                </span>
                </div>
            </div>
        </div>
        <div class="div3">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Болгария</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-bg" viewBox="0 0 512 512">
                        <g fill-rule="evenodd" stroke-width="1pt">
                            <path fill="#d62612" d="M0 341.3h512V512H0z"/>
                            <path fill="#fff" d="M0 0h512v170.7H0z"/>
                            <path fill="#00966e" d="M0 170.7h512v170.6H0z"/>
                        </g>
                    </svg>
                    <span>
                    1
                </span>
                </div>
            </div>
        </div>
        <div class="div4">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Бенин</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-bj" viewBox="0 0 512 512">
                        <defs>
                            <clipPath id="a">
                                <path fill="gray" d="M67.6-154h666v666h-666z"/>
                            </clipPath>
                        </defs>
                        <g clip-path="url(#a)" transform="translate(-52 118.4) scale(.7688)">
                            <g fill-rule="evenodd" stroke-width="1pt">
                                <path fill="#319400" d="M0-154h333v666H0z"/>
                                <path fill="#ffd600" d="M333-154h666v333H333z"/>
                                <path fill="#de2110" d="M333 179h666v333H333z"/>
                            </g>
                        </g>
                    </svg>
                    <span>
                    0
                </span>
                </div>
            </div>
        </div>
        <div class="div5">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Чехия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-cz" viewBox="0 0 512 512">
                        <path fill="#ffffff" d="M0 0h512v256H0z"/>
                        <path fill="#d7141a" d="M0 256h512v256H0z"/>
                        <path fill="#11457e" d="M300 256 0 56V456z"/>
                    </svg>
                    <span>
                    1
                </span>
                </div>
            </div>
        </div>
        <div class="div6">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Германия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-de" viewBox="0 0 512 512">
                        <path fill="#ffce00" d="M0 341.3h512V512H0z"/>
                        <path d="M0 0h512v170.7H0z"/>
                        <path fill="#d00" d="M0 170.7h512v170.6H0z"/>
                    </svg>
                    <span>
                    0
                </span>
                </div>
            </div>
        </div>
        <div class="div7">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Финляндия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-fi" viewBox="0 0 512 512">
                        <path fill="#fff" d="M0 0h512v512H0z"/>
                        <path fill="#003580" d="M0 186.2h512v139.6H0z"/>
                        <path fill="#003580" d="M123.2 0h139.6v512H123.1z"/>
                    </svg>
                    <span>
                    1
                </span>
                </div>
            </div>
        </div>
        <div class="div8">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Ирландия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-ie" viewBox="0 0 512 512">
                        <g fill-rule="evenodd" stroke-width="1pt">
                            <path fill="#fff" d="M0 0h512v512H0z"/>
                            <path fill="#009A49" d="M0 0h170.7v512H0z"/>
                            <path fill="#FF7900" d="M341.3 0H512v512H341.3z"/>
                        </g>
                    </svg>
                    <span>
                    0
                </span>
                </div>
            </div>
        </div>


        <div class="div9">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Австралия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-at" viewBox="0 0 512 512">
                        <g fill-rule="evenodd">
                            <path fill="#fff" d="M512 512H0V0h512z"/>
                            <path fill="#ed2939" d="M512 512H0V341.3h512zm0-341.2H0V.1h512z"/>
                        </g>
                    </svg>
                    <span>
                    0
                </span>
                </div>
            </div>
        </div>
        <div class="div10">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Болгария</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-bg" viewBox="0 0 512 512">
                        <g fill-rule="evenodd" stroke-width="1pt">
                            <path fill="#d62612" d="M0 341.3h512V512H0z"/>
                            <path fill="#fff" d="M0 0h512v170.7H0z"/>
                            <path fill="#00966e" d="M0 170.7h512v170.6H0z"/>
                        </g>
                    </svg>
                    <span>
                    1
                </span>
                </div>
            </div>
        </div>
        <div class="div11">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Чехия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-cz" viewBox="0 0 512 512">
                        <path fill="#ffffff" d="M0 0h512v256H0z"/>
                        <path fill="#d7141a" d="M0 256h512v256H0z"/>
                        <path fill="#11457e" d="M300 256 0 56V456z"/>
                    </svg>
                    <span>
                    0
                </span>
                </div>
            </div>
        </div>
        <div class="div12">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Финляндия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-fi" viewBox="0 0 512 512">
                        <path fill="#fff" d="M0 0h512v512H0z"/>
                        <path fill="#003580" d="M0 186.2h512v139.6H0z"/>
                        <path fill="#003580" d="M123.2 0h139.6v512H123.1z"/>
                    </svg>
                    <span>
                    1
                </span>
                </div>
            </div>
        </div>


        <div class="div13">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Финляндия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-fi" viewBox="0 0 512 512">
                        <path fill="#fff" d="M0 0h512v512H0z"/>
                        <path fill="#003580" d="M0 186.2h512v139.6H0z"/>
                        <path fill="#003580" d="M123.2 0h139.6v512H123.1z"/>
                    </svg>
                    <span>
                    1
                </span>
                </div>
            </div>
        </div>
        <div class="div14">
            <div class="row table_item align-items-center">
                <p class="table_item-name">Болгария</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-bg" viewBox="0 0 512 512">
                        <g fill-rule="evenodd" stroke-width="1pt">
                            <path fill="#d62612" d="M0 341.3h512V512H0z"/>
                            <path fill="#fff" d="M0 0h512v170.7H0z"/>
                            <path fill="#00966e" d="M0 170.7h512v170.6H0z"/>
                        </g>
                    </svg>
                    <span>
                    0
                </span>
                </div>
            </div>
        </div>

        <div class="div15 ">
            <div class="row winner table_item align-items-center">
                <p class="table_item-name">Финляндия</p>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-fi" viewBox="0 0 512 512">
                        <path fill="#fff" d="M0 0h512v512H0z"/>
                        <path fill="red" d="M0 186.2h512v139.6H0z"/>
                        <path fill="#003580" d="M123.2 0h139.6v512H123.1z"/>
                    </svg>
                    <span>
                    1
                </span>
                    <div class="winner_trophy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M13.387 17.375c-.679.385-2.076.385-2.756 0-.097 1.239-1.419 2.625-3.631 2.625v4h10v-4c-2.275 0-3.516-1.386-3.613-2.625zm2.613 5.625h-8v-2h8v2zm8-19.993c-.377 4.162-2.872 8.083-7.039 9.392.334-.551.665-1.157.984-1.816 2.959-1.515 4.097-4.265 4.527-6.279h-2.78c.058-.551.103-.779.103-1.297h4.205zm-16.961 9.392c-4.167-1.309-6.662-5.23-7.039-9.392h4.205c0 .518.045.746.103 1.297h-2.78c.431 2.015 1.568 4.764 4.527 6.279.319.659.65 1.265.984 1.816zm6.375 3.677c.612-2.957 4.965-5.038 5.39-12.958.138-2.574-4.129-3.118-6.795-3.118-2.754 0-6.915.423-6.825 2.8.309 8.18 4.8 10.279 5.421 13.276.639.534 2.168.534 2.809 0zm-6.891-13.373c0-.839 2.628-1.456 5.485-1.456 2.716 0 5.492.667 5.492 1.542 0 .9-2.911 1.307-5.492 1.307-2.458.001-5.485-.372-5.485-1.393zm2.233 2.421c.308 2.767 1.083 5.562 2.491 7.995-1.915-2.211-3.454-4.886-4.075-8.304.506.132 1.035.236 1.584.309z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
